<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NBA website</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/output.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

</head>
<body>
  
<div class = "m-8">

<h1 class="font-rubik mb-4 text-5xl"><span class="text-yellow-600">MVP</span> of the Game</h1>
<p class="font-rubik text-lg text-gray-500">Face-to-face player comparison. Every game, every day.</p>
</div>
<hr class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:opacity-100" />

<div class="m-8 flex flex-wrap">
  {% for logo in teams_logos %}
    <img src="{{ url_for('static', path='/images/teams_logos/' + logo) }}" class="image"  width="100" height="100"/>
  {% endfor %}
</div>
<hr class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:opacity-100" />


<div class="m-8 flex flex-wrap p-4 shadow-xl ring-1 ring-gray-900/5 rounded-lg max-w-lg bg-white">
    {% for player in players %}
      <img class="m-5"
      src="static/images/players_images/{{player.personId}}.png" 
      width="250" height="180" 
      alt = "{{player.name}}"> 
    {% endfor %}
</div>


<hr class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:opacity-100" />


</body>

</html>

